

<p-card styleClass="user-form" class="my-user-form mt-5">
    <form class="form-container" [formGroup]="userForm" (ngSubmit)="Submit()" novalidate>
      <div class="field">
        <p-floatLabel>
          <input type="text" id="username" pInputText  formControlName="userName"  />
          <label for="username">Username</label>
        </p-floatLabel>
       
      </div>

      <div class="field">
        <p-floatLabel>
          <input type="password" pInputText formControlName="password"  />
          <label for="password">password</label>
        </p-floatLabel>
       
      </div>
  
    <div>
      <p-checkbox 
      value="true" 
      inputId="ny"
      formControlName="RememberMe"/>
     <label class="checkbox-message" >Remember Me</label>
    </div>
      <button pButton type="submit" label="Submit" [disabled]="userForm.invalid"></button>
    </form>
  </p-card>
